.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 2px solid #2c2c2c;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 1px solid #2c2c2c;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 1px solid #ccc;
  background: #fff;
  color: black;
  font-weight: 600;
  width: 40px;
  height: 40px;
}

.cell--empty {
  color: transparent;
}

.cell--filled {
  color: black;
} 
