.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 2px solid #2c2c2c;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 1px solid #2c2c2c;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 1px solid #ccc;
  background: #fff;
  color: black;
  font-weight: 600;
  width: 40px;
  height: 40px;
}

.cell--empty {
  color: transparent;
}

.cell--filled {
  color: black;
}

.cell--selected {
  background: #ffe9c0;
  border: 1px solid #ffa600;
}

.cell--initial {
  background: #e8e8e8;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #ffa600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffb937;
}

.btn:active {
  background-color: #ffd588;
}
